body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
header{
    
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 290px;
    max-width: 950px;
    margin: 0 auto;

}
.logo{
    width: 103px;
    height: 29px;
    margin-bottom: 25px;

}
.input{
    width: 252px;
    height: 36px;
    background-color: #EFEFEF;
    position: relative;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.search{
    position: absolute;
    left: 20px;
}
input{
    background-color: #EFEFEF;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color:  #8E8E8E;
    margin-left: 50px;
    width: 190px;

}
.nav{
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
    
}
.mini-icon{
    width: 24px;
    height: 24px;
    border: 1px solid #262626;
    border-radius: 28px;
    background-color: #8E8E8E;
}
.icon{
    width: 20px;
    height: 20px;
}
main{
    background-color: #F9F9F9;
    height: 100vh;
    max-width: 100%;
}
.account{
    max-width: 1500px;
    margin: 0 auto;
}

.account-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 450px;
    box-sizing: border-box;
    max-width: 1700px;
    margin: 0 auto;

}
.account-left{
    width: 150px;
    height: 150px;
    background-color: #C4C4C4;
    border: none;
    border-radius: 500px;
    margin-left: 70px;
}
.account-right{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
}
.wid{
    width: 90%;
    margin-bottom: 24px;
}
h2{
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    color: #000000;
}
.edit{
    width: 90px;
    height: 30px;
    border: 1px solid #EFEFEF;
    background-color: #F9F9F9;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    
    
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.flex{
    display: flex;
}
.lines-title{
    margin: 20px auto;
    max-width: 65%;
    align-items: center;
}
.line2{
    width: 100%;
    height: 1px;
    background-color: #EFEFEF;

}
.line3{
    width: 15%;
    height: 1px;
    background-color: #000000;
}
.posts-text{
    display: flex;
    justify-content: center;
    align-items: center;


}
.text-post{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #262626;
    text-align: center;
    position: relative;
    margin-left: 20px;
}
.posts{
    display: flex;
    justify-content: space-between;
    padding: 15px 290px;

    
}
.block{
    width: 290px;
    height: 290px;
    background-color: #C4C4C4;

}


